extends ./layout.jade
block contenido
  // center-block => mx-auto
  div(class="col-md-6 remove-float mx-auto big-top-space")
    //h1 Formulario
    h1 Iniciar sesi칩n
    form(action="/sessions", method="POST")
      div(class="form-group")
        label(for="email") Email
        input(type="text", name="email", placeholder="_Email", id="email", class="form-control")
      div
        label(for="password") Contrase침a
        input(type="password", name="password", placeholder="_Contrase침a", id="password", class="form-control")
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          input(type="submit" value="Iniciar sesi칩n" class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-right")
          a(href="/signup") No tengo cuenta