extends ./layout.jade
block contenido
  // center-block => mx-auto
  div(class="col-md-6 remove-float mx-auto big-top-space")
    h1 Registro
    form(action="/users",method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", name="email", placeholder="_Email", id="email", class="form-control")
    div(class="form-group")
      label(for="password") Contraseña
      input(type="password", name="password", placeholder="_Contraseña", id="password", class="form-control")
    div(class="form-group")
      label(for="password") Confirma tu contraseña
      input(type="password", name="password_confirmation", placeholder="_Confirma contraseña", id="password", class="form-control")
    div(class="form-group")
      label(for="username") Nombre de usuario
      input(type="text", name="username", placeholder="_nombre de usuario", id="username", class="form-control")
    div(class="row top-space")
      div(class="col-xs-12 col-sm-6")
        input(type="submit" value="Iniciar sesión" class="btn btn-info")
      div(class="col-xs-12 col-sm-6 text-right")
        a(href="/login") Ya tengo cuenta